<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quancheng.spider.dao.PoiInfoMapper">
    <insert id="insert" parameterType="com.quancheng.spider.dataobject.PoiInfo">
        insert into data_service.poi_info(name,address,avg_score,comment_num,front_img,avg_price,gmt_created,gmt_modified)
        values(#{title}, #{address},#{avgScore},#{allCommentNum},#{frontImg},#{avgPrice},now(),now())
        ON DUPLICATE KEY UPDATE name=VALUES(name),
        address=VALUES(address),
        avg_score=VALUES(avg_score),
        comment_num=VALUES(comment_num),
        front_img=VALUES(front_img),
        avg_price=VALUES(avg_price),
        gmt_modified=now()
    </insert>
</mapper>
